h1 {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 41px;
  color: #fff;
  margin-left: 345px;
  background-color: #34444F;
  padding: 20px 20px;
  margin-right: 379px;
  
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #66CCCC;
  float: left;
  margin-top: 0px;
}

.usermail {
  margin-left: 425px;
}

.table-responsive {
  background-color: #C4EDEA;
}
.btn-signout {
  float: right;
  margin-top: -40px;
  margin-right: 57px;
}
.col-sm-8 {
  float: left;
  margin-left: 350px;
}
.img-show {
  float: left;
  margin-left: 250px;
}
