h1 {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 41px;
  color: blue;
  margin-left: 390px;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: lightblue;
  float: left;
  margin-top: 35px;
}

.usermail {
  margin-left: 425px;
}
.img {
  float: left;
  margin-left: 200px;
}